{% extends 'base.html.twig' %}

{% block title %}Reparation{% endblock %}

{% block body %}
    <h1>Reparation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reparation.id }}</td>
            </tr>
            <tr>
                <th>Description_Panne</th>
                <td>{{ reparation.DescriptionPanne }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ reparation.Etat }}</td>
            </tr>
            <tr>
                <th>Date_rep</th>
                <td>{{ reparation.DateRep ? reparation.DateRep|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date_declaration</th>
                <td>{{ reparation.DateDeclaration ? reparation.DateDeclaration|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date_recuperation</th>
                <td>{{ reparation.DateRecuperation ? reparation.DateRecuperation|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reparation_index') }}">back to list</a>

    <a href="{{ path('app_reparation_edit', {'id': reparation.id}) }}">edit</a>

    {{ include('reparation/_delete_form.html.twig') }}
{% endblock %}
